# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
env/

# Virtual environment
ENV/
env.bak/

# Model cache
api/model_cache/
db.sqlite3

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
sentence_tokenizer.pickle
myprojectenv/
/ngnix_service/

