body {
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
}

header {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 20px;
    color: black;
}

.name {
    text-align: center;
    text-decoration: underline;
}

.user-input {
    font-family: "Lucida Console", "Courier New", monospace;
    border-style: none;
    border-color: Transparent;
    background-color: whitesmoke;
    outline: none;
    font-size: 20px;
    height: 150px;
    width: 1000px;
}

.button {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color: orange;
    border: 3px solid;
    font-size: 24px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.bot {
    overflow: auto;
    margin-top: 5px;
    border-style: none;
    border-color: Transparent;
    background-color: whitesmoke;
    outline: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    height: 200px;
    width: 1000px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}