<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- linking css style script and icon-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Moonbeam</title>
</head>
<body>
<img src="https://i.ibb.co/vQ6xC98/hi.png" alt="hi" class="image">
<h3><a href="/api/chat">Go to - /api/chat</a></h3>
</body>
</html>